.page-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 40px;
  text-align: center;
}

.container-skillbar {
  width: 100%;
  padding-top: 30px;
  padding-right: 2%;
  padding-left: 2%;
  height: auto;
}

.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #efefef;
  height: 30px;
  border-radius: 3px;
  transition: 0.4s linear;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #fff;
  background: #6adcfa;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.15);
  padding: 0 20px;
  height: 30px;
  line-height: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-bar {
  height: 30px;
  width: 0px;
  border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 30px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.5);
}



/* mi cv para descargar */


.cv-download {
  margin-top: 40px;
  text-align: center;
}
.button {
  display: inline-block;
  border-radius: 7px;
  border: none;
  background: #577B8D;
  color: black;
  font-family: inherit;
  text-align: center;
  font-size: 13px;
  box-shadow: 0px 14px 56px -11px #1875FF;
  width: 10em;
  padding: 1em;
  transition: all 0.4s;
  cursor: pointer;
 }
 
 .button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.4s;
 }
 
 .button span:after {
  content: 'my cv';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.7s;
 }
 
 .button:hover span {
  padding-right: 3.55em;
 }
 
 .button:hover span:after {
  opacity: 4;
  right: 0;
 }

/* mi educacion */

.education-section {
  width: 100%;
  padding: 20px 2%;
  background: #f9f9f9;
  border-radius: 10px;
  margin-top: 40px;
}

.education-item {
  margin-bottom: 20px;
}

.education-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.education-institution {
  font-size: 1.2em;
  font-weight: bold;
  color: #666;
  margin-bottom: 10px;
}

.education-description {
  font-size: 1em;
  color: #333;
}
