@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    object-fit: cover;
    object-position: top;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}
