/* Estilos para la barra de navegación */
nav {
    padding: 20px 148px;
    background-color: #344C64; /* Fondo azul claro */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

nav .logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

nav .logo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

nav .logo a {
    font-size: 15px;
    color: #ffffff; 
    font-weight: bold;
}

nav .nav-links {
    display: flex;
    gap: 16px;
}

nav .nav-links a {
    color: #ffffff; /* Color de los enlaces a blanco */
    transition: color 0.3s ease;
}

nav .nav-links a:hover,
nav .nav-links a.selected {
    color: #91DDCF; 
}
