---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Portafolio Angel Gabriel Ortega</title>
</head>
<body>
    <Nav />

    <h1 class="page-title">about me</h1>

  <div class="soloyo">      
          <div class="section" data-anchor="skills">
            <div class="content">
              <p class="wow fadeInDown" data-wow-delay="0.2s">In the vast technological universe, I define myself as a passionate explorer. As a Junior Backend Developer, my journey is focused on bringing to life applications that combine the arts of .NET Core, React, MySQL, and SQL Server.
                My professional journey has been nurtured with projects that require the mastery of databases and servers, which has sharpened my skills in .NET Core, React, MySQL and SQL Server. The resolution of technical enigmas is my driving force. Always open to learn anything new.</p>
              
                <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">
                <div class="skillbar clearfix " data-percent="90%">
                  <div class="skillbar-title" style="background: #FF7F3E;"><span>HTML5</span></div>
                  <div class="skillbar-bar" style="background: #FF7F3E;"></div>
                  <div class="skill-bar-percent">90%</div>
                  </div>


                  <div class="skillbar clearfix " data-percent="80%">
                    <div class="skillbar-title" style="background: #4C3BCF;"><span>CSS3</span></div>
                    <div class="skillbar-bar" style="background: #4C3BCF;"></div>
                    <div class="skill-bar-percent">80%</div>
                  </div>


                  <div class="skillbar clearfix " data-percent="60%">
                    <div class="skillbar-title" style="background: #FFF455;"><span>Java Script</span></div>
                    <div class="skillbar-bar" style="background: #FFF455;"></div>
                    <div class="skill-bar-percent">60%</div>
                  </div>

                  <div class="skillbar clearfix " data-percent="70%">
                    <div class="skillbar-title" style="background: #AF47D2;"><span>C#</span></div>
                    <div class="skillbar-bar" style="background: #AF47D2;"></div>
                    <div class="skill-bar-percent">70%</div>
                  </div>


                  <div class="skillbar clearfix " data-percent="50%">
                    <div class="skillbar-title" style="background: #DC5F00;"><span>Java</span></div>
                    <div class="skillbar-bar" style="background: #DC5F00;"></div>
                    <div class="skill-bar-percent">50%</div>
                  </div>


                  
                </div> 

               
              </div>
            </div>
          </div>
          
          <h1 class="page-title">languajes</h1>



          <div class=" wow fadeInUp container-skillbar" data-wow-delay="0.2s">


            <div class="skillbar clearfix " data-percent="100%">
              <div class="skillbar-title" style="background: #DD1E2F;"><span>Spanish</span></div>
              <div class="skillbar-bar" style="background: #DD1E2F;"></div>
              <div class="skill-bar-percent">100%</div>
              </div>



              <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title" style="background: #7E8EF1;"><span>English</span></div>
                <div class="skillbar-bar" style="background: #7E8EF1;"></div>
                <div class="skill-bar-percent">50%</div>
                </div>

         
        







                



                <h1 class="page-title">education</h1>

                <div class="education-section">


                    <div class="education-item">
                        <h2 class="education-title">Commercial Software Engineering with a concentration in Design and Architecture</h2>
                        <p class="education-institution">Jala University, 2024 - currently curse</p>
                        <p class="education-description">
                          The concentration in Software Design and Architecture focuses on the processes, methodologies, techniques, and tools for the development of high-quality software systems with international industry standards and practices.
                        </p>
                    </div>

                    <div class="education-item">
                      <h2 class="education-title">Oracle Next Education</h2>
                      <p class="education-institution">alura LATAM- Oracle, 2024 - currently curse</p>
                      <p class="education-description">
                        In this 6-month program, you will take courses to develop technical and soft skills, focusing on programming, artificial intelligence, professional and personal development, entrepreneurship, and agile methodologies.                      </p>
                  </div>


                    <div class="education-item">
                      <h2 class="education-title">Software Development- backend development</h2>
                      <p class="education-institution">Campuslands, 2023 - 2024</p>
                      <p class="education-description">
                        10 months of training equivalent to 2,100 hours: 
                        1,600 hours of study and practice in Software Development.
                        300 hours of English immersion.
                        200 hours of Soft Skills Development                      </p>
                  </div>
                    
                    
                    <div class="education-item">
                        <h2 class="education-title">High school</h2>
                        <p class="education-institution">Nuestra señora de belen, 2007-2022</p>
                        <p class="education-description">
                          basic high school education with the fundamentals of all asigntatures like maths, spanish, english, biology, social skills and another topics
                        </p>
                    </div>
                </div>
        

                
              <div class="cv-download">
              <button class="button" style="vertical-align:middle"><span> <a href="/public/assets/CSVAngel2024.pdf" download="CV_Angel_Gabriel_Ortega" class="cv-download-button" download>
                Download 
            </a></span></button>
          </div>





    </div>




<script>
    $(".skillbar").each(function () {
              $(this)
                .find(".skillbar-bar")
                .animate(
                  {
                    width: $(this).attr("data-percent")
                  },
                  2500
                );
            });
    </script>
    <Footer />
    <script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</body>
</html>


