---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
import Skills from '../components/Skills.astro';
import InfoSection from '../components/Info.astro';
import RecentProjects from '../components/RecentProjects.astro';
import FeaturedProjects from '../components/FeaturedXp.astro';

---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/style.css">
    <title>Portafolio Angel Ortega</title>
</head>
<body>

<Nav />

    <InfoSection />
    <Skills />
    <RecentProjects />
    <FeaturedProjects />

    
<Footer />

<script>
var current = 1; //keeps track of the current div
var height = $('.roles').height(); //the height of the roles div
var numberDivs = $('.roles').children().length; //the number of children of the roles div
var first = $('.roles div:nth-child(1)'); //the first div nested in roles div
setInterval(function() {
    var number = current * -height;
    first.css('margin-top', number + 'px');
    if (current === numberDivs) {
        first.css('margin-top', '0px');
        current = 1;
    } else current++;
}, 2000);





document.addEventListener('DOMContentLoaded', () => {
    // Example usage: disableLiveDemo('project-card--1');
});

function disableLiveDemo(cardClass) {
    const projectCard = document.querySelector(`#${cardClass}`);
    const liveDemoLink = projectCard.querySelector('.project-card__link--live-demo');

    if (liveDemoLink) {
        liveDemoLink.classList.add('disabled');
    }
}

function enableLiveDemo(cardClass) {
    const projectCard = document.querySelector(`.${cardClass}`);
    const liveDemoLink = projectCard.querySelector('.project-card__link--live-demo');

    if (liveDemoLink) {
        liveDemoLink.classList.remove('disabled');
    }
}



disableLiveDemo('card1')
disableLiveDemo('card2')
disableLiveDemo('card3')
disableLiveDemo('card5')



</script>


<script is:inline src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

</body>
</html>
