---
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/x-icon" href="/assets/logo.png">
    <link rel="stylesheet" href="/css/singlejobsec.css">
    <title>Portafolio Angel Gabriel Ortega</title>
</head>
<body>
    <Nav />

    <h1 class="page-title">Single Works Developed by me</h1>

    <div class="singleworks">
        <div class="project-card" id="card1">
            <img src="project-image.jpg" alt="Project Image" class="project-card__image">
            <div class="project-card__content">
                <h2 class="project-card__title">Project Name</h2>
                <p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet metus nec diam facilisis pretium.</p>
                <p class="project-card__technologies">Technologies: HTML, CSS, JavaScript</p>
                <div class="project-card__links">
                    <a href="https://github.com/username/repository" target="_blank" class="project-card__link">Source Code</a>
                    <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
                </div>
            </div>
        </div>


        <div class="project-card" id="card2">
            <img src="project-image.jpg" alt="Project Image" class="project-card__image">
            <div class="project-card__content">
                <h2 class="project-card__title">Project Name</h2>
                <p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet metus nec diam facilisis pretium.</p>
                <p class="project-card__technologies">Technologies: HTML, CSS, JavaScript</p>
                <div class="project-card__links">
                    <a href="https://github.com/username/repository" target="_blank" class="project-card__link">Source Code</a>
                    <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
                </div>
            </div>
        </div>


        <div class="project-card" id="card3">
            <img src="project-image.jpg" alt="Project Image" class="project-card__image">
            <div class="project-card__content">
                <h2 class="project-card__title">Project Name</h2>
                <p class="project-card__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin sit amet metus nec diam facilisis pretium.</p>
                <p class="project-card__technologies">Technologies: HTML, CSS, JavaScript</p>
                <div class="project-card__links">
                    <a href="https://github.com/username/repository" target="_blank" class="project-card__link">Source Code</a>
                    <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
                </div>
            </div>
        </div>


        

    </div>


    <Footer />



<script>
 document.addEventListener('DOMContentLoaded', () => {
    // Example usage: disableLiveDemo('project-card--1');
});

function disableLiveDemo(cardClass) {
    const projectCard = document.querySelector(`#${cardClass}`);
    const liveDemoLink = projectCard.querySelector('.project-card__link--live-demo');

    if (liveDemoLink) {
        liveDemoLink.classList.add('disabled');
    }
}

function enableLiveDemo(cardClass) {
    const projectCard = document.querySelector(`.${cardClass}`);
    const liveDemoLink = projectCard.querySelector('.project-card__link--live-demo');

    if (liveDemoLink) {
        liveDemoLink.classList.remove('disabled');
    }
}



disableLiveDemo('card1')
disableLiveDemo('card2')
disableLiveDemo('card3')


</script>

</body>
</html>
