<div class="education-section">
  <h1 class="page-title">Education</h1>

  <div class="education-item">
      <div class="education-title">
        <a href="https://www.linkedin.com/school/jala-university/posts/?feedView=all" target="_blank">
          <img src="/assets/education/Jala.png" alt="Logo" class="education-logo">
          <span>Commercial Software Engineering with a concentration in Design and Architecture</span>
          </a>
      </div>
      <p class="education-institution">Jala University, 2024 - Currently pursuing</p>
      <p class="education-description">
        The concentration in Software Design and Architecture focuses on the processes, methodologies, techniques, and tools for the development of high-quality software systems with international industry standards and practices.
      </p>
  </div>

  <div class="education-item">
      <div class="education-title">
        <a href="https://app.aluracursos.com/user/angelgabrielorteg/degree-spring-framework-grupo7-one-15798/certificate" target="_blank">
          <img src="/assets/education/Oracle.png" alt="Logo" class="education-logo">
          <span>Java and spring Framework- Ai/Poo -G7 One</span>
          </a>
      </div>
      <p class="education-institution">Alura LATAM- Oracle, 2024 - 2025</p>
      <p class="education-description">
        In this 6-month program, you will take courses to develop technical and soft skills, focusing on programming, artificial intelligence, professional and personal development, entrepreneurship, and agile methodologies.
      </p>
  </div>

  <div class="education-item">
    <div class="education-title">
      <a href="https://www.coursera.org/account/accomplishments/professional-cert/HVRYXSBUQC6B" target="_blank">
        <img src="/assets/education/Google.png" alt="Logo" class="education-logo">
        <span>Cibersecurity of Google   </span>
        </a>
    </div>
    <p class="education-institution">Google x Coursera - 2023 - 2024</p>
    <p class="education-description">
      Protect networks, devices, people, and data from unauthorized access and cyberattacks using security information and event management (SIEM) tools.
      Gain hands-on experience with Python, Linux, and SQL.
      Identify the most common risks, threats, and vulnerabilities, as well as techniques to mitigate them.
    </p>
</div>

  <div class="education-item">
      <div class="education-title">
        <a href="/public/assets/education/Angel_Ortega.pdf" download="Campuslands_Angel_Gabriel_Ortega">
          <img src="/assets/education/CampusLands.jpg" alt="Logo" class="education-logo">
          <span>Software Development- Backend Development</span>
      </div>
      <p class="education-institution">Campuslands, 2023 - 2024</p>
      <p class="education-description">
        10 months of training equivalent to 2,100 hours: 
        1,600 hours of study and practice in Software Development.
        300 hours of English immersion.
        200 hours of Soft Skills Development.
      </p>
  </div>

  <div class="education-item">
    <div class="education-title">
      <a href="/public/assets/Fundamentos de Programación-20.pdf" download="Mision_tic_Angel_Gabriel_Ortega">
        <img src="/assets/education/mision-tic.webp" alt="Logo" class="education-logo">
        <span>fundamentals of Programing with python and base web development</span>
        </a>
    </div>
    <p class="education-institution">Mision tic 2022- 2023</p>
    <p class="education-description">
      Basic knowledge of programming with python and base web development, using libraries such as pandas, numpy and virtual enviroments like anaconda and basic programing conceps, oop, turtle graphics, and more.
    </p>
</div>


  <div class="education-item">
      <div class="education-title">
        <a href="https://www.linkedin.com/company/feyalegr%C3%ADacolombia/posts/?feedView=all" target="_blank">
          <img src="/assets/education/fe-y-alegria.png" alt="Logo" class="education-logo">
          <span>High School</span>
          </a>
        </div>
      <p class="education-institution">Nuestra Señora de Belén, 2007 - 2022</p>
      <p class="education-description">
        Basic high school education with the fundamentals of all subjects like Math, Spanish, English, Biology, Social Skills, and other topics.
      </p>
  </div>

  <a href="/public/assets/CSVAngel2024.pdf" 
   download="CV_Angel_Gabriel_Ortega" 
   class="cv-download-button">
    Download CV
</a>

</button>
</div>


