<footer>
    <div class="socials">
        <a href="https://wa.link/1f7zpq" target="_blank" class="bx bxl-whatsapp"></a>
        <a href="https://github.com/Angel-ISO" target="_blank" class="bx bxl-github"></a>
        <a href="https://www.linkedin.com/in/angel-gabriel-ortega-a6500a273/" target="_blank" class="bx bxl-linkedin-square"></a>
    </div>
    <p>Copyright ©2024, All rights reserved.</p>
</footer>
