<div class="main">
    <div class="info">
        <h1>Hey, I am Angel, a passionate...</h1>
        <div class="wrapper">
            <div class="roles">
                <div>Web Developer.</div>
                <div>Backend Developer.</div>
                <div>Student</div>
                <div>Software Engineer</div>
            </div>
        </div>
    </div>
    <img src="/assets/Angel_Bladex.jpg" alt="Profile Picture">
   
</div>