<nav>
    <div class="logo">
        <img src="/assets/logoBetter.png" alt="Logo">
        <a href="/">Angel_Blade</a>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/works" data-astro-reload>Works</a>
        <a href="/singlework">Single Work</a>
        <a href="/about">About</a>
    </div>
</nav>