<div class="singleworks">
    <div class="project-card" id="card1">
        <img src="/assets/projects/GameOfLife.png" alt="Project Image" class="project-card__image">
        <div class="project-card__content">
            <h2 class="project-card__title">Game of Life by conway</h2>
            <p class="project-card__description">this project is a simulation of the Game of Life by conway using the vanilla Java language and basic concepts of programing this was my first project in the university for programing 1 course</p>
            <p class="project-card__technologies">Technologies: Vanilla Java</p>
            <div class="project-card__links">
                <a href="https://github.com/Angel-ISO/capstone" target="_blank" class="project-card__link">Source Code</a>
                <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
            </div>
        </div>
    </div>


    <div class="project-card" id="card2">
        <img src="/assets/projects/To-do.png" alt="Project Image" class="project-card__image">
        <div class="project-card__content">
            <h2 class="project-card__title">To-do App</h2>
            <p class="project-card__description">Final project of the course Database 2 Over there we apply the concepts learned on programing (1,2) software development 1, and database 1 next to we create a to-do app that allows the user to add, delete, edit and view to-do items. assing a priority to each to-do item and mark it as completed.</p>
            <p class="project-card__technologies">Technologies: Java, Spring Boot, MySQL, React, MongoDB</p>
            <div class="project-card__links">
                <a href="https://github.com/Angel-ISO/to-do" target="_blank" class="project-card__link">Source Code</a>
                <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
            </div>
        </div>
    </div>


    <div class="project-card" id="card3">
        <img src="/assets/projects/AVTL.png" alt="Project Image" class="project-card__image">
        <div class="project-card__content">
            <h2 class="project-card__title">Transactions AVT</h2>
            <p class="project-card__description">Final project of the course Software development 2, this project is a transactions management system that allows the user to add, delete, edit and view transactions. assing a priority to each transaction and mark it as completed. making Otp validation with QRcode and email notifications.</p>
            <p class="project-card__technologies">Technologies: Java, Spring Boot, MySQL, JavaFX, MongoDB</p>
            <div class="project-card__links">
                <a href="https://github.com/Angel-ISO/transaction-module" target="_blank" class="project-card__link">Source Code</a>
                <a href="https://live-demo-link.com" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
            </div>
        </div>
    </div>

    <div class="project-card" id="card4">
        <img src="/assets/projects/Forum.png" alt="Project Image" class="project-card__image">
        <div class="project-card__content">
            <h2 class="project-card__title">Alura Forums</h2>
            <p class="project-card__description">Final project of the Preparation of Oracle one education this project is a forum system that allows the user to add, delete, edit and view forums. with a strong security and authentication system. with spring security and jwt</p>
            <p class="project-card__technologies">Technologies: Java, Spring Boot, MySQL, Jwt</p>
            <div class="project-card__links">
                <a href="https://github.com/Angel-ISO/oracleOneEducation/tree/main/alura" target="_blank" class="project-card__link">Source Code</a>
                <a href="https://oracle-one-education-forums.vercel.app/" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
            </div>
        </div>
    </div>

    <div class="project-card" id="card5">
        <img src="/assets/projects/spaceInvaders.jpeg" alt="Project Image" class="project-card__image">
        <div class="project-card__content">
            <h2 class="project-card__title">Space Invaders</h2>
            <p class="project-card__description">Final Project of the course Programing 3 this project is a space invaders game using the vanilla c# with winforms using the concepts learned like mvvm pattern and A strong abstraction with oop. </p>
            <p class="project-card__technologies">Technologies: Vanilla c# with winforms</p>
            <div class="project-card__links">
                <a href="https://github.com/Angel-ISO/SpaceInvaders" target="_blank" class="project-card__link">Source Code</a>
                <a href="" target="_blank" class="project-card__link project-card__link--live-demo">Live Demo</a>
            </div>
        </div>
    </div>
</div>