---
import 'boxicons/css/boxicons.min.css';  
---

<div class="container_skills">
    <ul class="container_skills_ul">
      <li><i class="bx bxl-python"></i></li>
      <li><i class="bx bxl-nodejs"></i></li>
      <li><i class="bx bxl-react"></i></li>
      <li><i class="bx bxl-javascript"></i></li>
      <li><i class="bx bxl-postgresql"></i></li>
      <li><i class="bx bxl-visual-studio"></i></li>
      <li><i class="bx bxl-php"></i></li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/ubuntu/ubuntu-plain.svg" height="40" alt="icono"></li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/dotnetcore/dotnetcore-original.svg" height="40" alt="icono"></li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/intellij/intellij-original.svg" height="40" alt="icono"></li>
      <li><img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mysql/mysql-original.svg" height="40" alt="icono"></li>
      <li><i class="bx bxl-html5"></i></li>
      <li><i class="bx bxl-css3"></i></li>
      <li><i class="bx bxl-mongodb"></i></li>
      <li><i class="bx bxl-docker"></i></li>
      <li><i class="bx bxl-github"></i></li>
      <li><i class="bx bxl-gitlab"></i></li>
      <li><i class="bx bxl-java"></i></li>
    </ul>
</div>
